# Duplicate this file and rename its copy as .env and update the variables based on your environment
  
# REALTIME or SIMULATION for testing
ENV=REALTIME or SIMULATION
WEB_DOMAIN=localhost or PI's IP address
