src/build
src/install
src/log
.env
.vscode
src/API/build/
src/control/build/
src/utils/build/
src/cv/build/
src/msgs/build/
src/API/install/
src/control/install/
src/utils/install/
src/cv/install/
src/msgs/install/
src/API/log/
src/control/log/
src/utils/log/
src/cv/log/
src/msgs/log/
build/
install/
log/
.git_backup/